@import 'base/variables';
@import 'base/bootstrap_variables';
@import 'mixins/breakpoints';

body {
    background-color: #F7F7F7; //overflow-y: hidden;
    font-family: "open sans";
}

input {
    font-family: "open sans";
}

img {
    max-width: 100%;
}

button {
    cursor: pointer;
}

/* ANIMATIONS  */
.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}

@keyframes slideInDown {
    from {
        transform: translate3d(0, -100%, 0);
        visibility: visible;
    }

    to {
        transform: translate3d(0, 0, 0);
    }
}

.slideInDown {
    animation-name: slideInDown;
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  .fadeIn {
    animation-name: fadeIn;
  }

  @keyframes zoomIn {
    from {
      opacity: 0;
      transform: scale3d(.3, .3, .3);
    }
  
    50% {
      opacity: 1;
    }
  }
  
  .zoomIn {
    animation-name: zoomIn;
  }

  @keyframes slideInLeft {
    from {
      transform: translate3d(-100%, 0, 0);
      visibility: visible;
    }
  
    to {
      transform: translate3d(0, 0, 0);
    }
  }
  
  .slideInLeft {
    animation-name: slideInLeft;
  }

  @keyframes rotating {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.rotating {
    -webkit-animation: rotating 2s linear infinite;
    -moz-animation: rotating 2s linear infinite;
    -ms-animation: rotating 2s linear infinite;
    -o-animation: rotating 2s linear infinite;
    animation: rotating 2s linear infinite;
}
/* ANIMATIONS  */

/* LHS */
.dbmanager_lhs {
    z-index: 1000;
    max-width: 300px;
    min-width: 300px;
    background-color: #F6F6F6;
    min-height: 100vh;
    border-right: 1px solid #BBBBBB;
    user-select: none;

    &__top_bar {
        height: $db_manager_top_bar;
        background-color: #fff;
        border-bottom: 1px solid #BBBBBB;

        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-around;

        &__menu {
            display: flex;
            &__element {
                margin: 0px 15px;
                cursor: pointer;
                i{
                    font-size: 22px;
                }
            }
        }

        &__logo {
            h2 {
                font-family: montserrat;
                font-size: 22px;
                text-transform: uppercase;
                margin-bottom: 0px;
                font-weight: 600;
            }
        }
    }

    .dbmanager_lhs__db_section {
        width: 100%;
        &__create_db {
            &__a_element {
                text-decoration: none;
                color: #212121;
                font-weight: 700;
                font-size: 16px;
                height: $create_db_element_height;
                display: flex;
                align-items: center;
                padding: 0px 25px;

                i{
                    margin-right: 10px;
                }
            }
        }

        &__show_dbs {
            &__a_element {
                text-decoration: none;
                color: #212121;
                font-size: 14px;
                height: $create_db_element_height/1.75;
                display: flex;
                align-items: center;
                padding: 0px 30px;
                transition: all 0.3s ease;
                margin-bottom: 1px;

                i{
                    font-size: 15px;
                    margin-right: 10px;
                }

                &.active {
                    font-weight: bold;
                    background-color: #4caf50;
                    color: #fff;
                }
                &:hover {
                    background-color: #4caf50;
                    color: #f2f2f2;
                }
            }
        }
    }
}
/* LHS */

/* RHS */
.dbmanager_rhs {
    background-color: #FFF;
    max-width: calc(100% - 300px);
    min-width: calc(100% - 300px);
    overflow: auto;

    /* Start of top bar */
    &__top_bar {
        height: $db_manager_top_bar;
        background-color: $body_bg;
        width: 100%;
        user-select: none;

        /* Start of breadcrumbs */
        &__breadcrumbs {
            height: $db_manager_top_bar/2.5;
            background-color: #fff;
            border-bottom: 1px solid #E8E8E8;
            padding: 0px $rhs_padding_left;
            display: flex;
            align-items: center;

            &__individual {
                font-family: montserrat;
                font-size: 12px;
                height: 100%;
                display: flex;
                align-items: center;
                text-transform: uppercase;
                font-weight: 600;

                i{
                    margin-right: 5px;
                }

                a{
                    margin-left: 5px;
                    text-decoration: none;
                    text-transform: none;
                }
            }

            &__icon {
                margin: 0px 20px;
            }
        }
        /* End of Top bar breadcrumbs */

        &__navigation {
            display: flex;
            height: calc(#{$db_manager_top_bar} - #{$db_manager_top_bar/2.5});
            align-items: flex-end;
            padding-left: $rhs_padding_left;
            &__element {
                font-family: "open sans";
                text-transform: uppercase;
                font-size: 14px;
                font-weight: 600;
                padding: 15px 30px;
                margin-right: 1px;
                cursor: pointer;
                transition: all 0.3s ease;
                &.active {
                    background-color: #fff;
                }
            }
        }
    }
    /* End of top bar main */

    /* Start of Content Section */
    &__content_section {
        padding: $rhs_padding_left $rhs_padding_left;
        width: 100%;
        padding-top: $rhs_padding_left*2;
        overflow: auto;
        height: calc(100vh - #{$db_manager_top_bar});

        /* DB Table */
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            //border: 1px solid #F7F7F7;
            border: none;
            text-align: left;
            padding: 14px;
            height: 55px;
        }

        th {
            font-family: montserrat;
            font-size: 14px;
        }

        td {
            font-size: 15px;
        }
        
        tr:nth-child(even) {
            background-color: #F7F7F7;
        }

        .table_checkbox {
            width: 50px;
        }
        .table_name {
            //width: 200px;
        }
        .table_actions {
            border-left: 1px solid #DFDFDF;
            display: flex;
            color: #444444;

            &__action {
                display: flex;
                font-family: montserrat;
                font-size: 12px;
                margin-right: 35px;
                align-items: center;
                color: #444;
                text-decoration: none;

                i {
                    font-size: 16px;
                    margin-right: 2px;
                }
            }
        }
        .table_options {
            display: flex;
            color: #444444;
            width: 200px;

            &__action {
                display: flex;
                font-family: montserrat;
                font-size: 12px;
                margin-right: 20px;
                align-items: center;
                color: #444;
                text-decoration: none;

                i {
                    font-size: 16px;
                    margin-right: 2px;
                }
            }
        }
        .table_rows {
            width: 150px;
            min-width: 100px;
            border-left: 1px solid #DFDFDF;
        }
        .table_id {
            width: 150px;
            min-width: 100px;
            border-left: 1px solid #DFDFDF;
        }
        .table_email {
            width: 400px;
            min-width: 100px;
            border-left: 1px solid #DFDFDF;
        }
        .table_name {
            width: 400px;
            min-width: 100px;
            border-left: 1px solid #DFDFDF;
        }
        .table_size {
            width: 150px;
            min-width: 100px;
            border-left: 1px solid #DFDFDF;
        }
        td.table_rows, td.table_size {
            font-size: 14px;
        }
        /* End of DB Table */


        /* Start of select_all_section */
        .select_all_section {
            margin-top: 30px;
            display: flex;
            &__left {
                padding-left: 12px;
                position: relative;

                i {
                    transform: rotate(90deg);
                }
            }
            &__checkbox {
                font-size: 14px;
                display: flex;
                align-items: center;
                margin-left: 15px;

                input {
                    margin-right: 10px;
                }
            }
            &__select {
                margin-left: 30px;
            }
        }
        /* End of select_all_section */

        /* Start of Create Table Section */
        .create_table {
            border: 1px solid #CACACA;
            border-radius: 4px;
            height: 140px;
            margin-top: 100px;
            position: relative;
            display: flex;
            align-items: center;

            &__title {
                border: 1px solid #cacaca;
                padding: 10px 25px;
                display: inline-block;
                position: absolute;
                top: -25px;
                left: 35px;
                background: #fff;
                z-index: 1000;
                font-size: 14px;
                text-transform: uppercase;
                font-weight: 600;
                border-radius: 30px;
            }
            &__input_divs {
                display: flex;
                font-size: 14px;
                padding-left: 40px;
                padding-top: 10px;
                font-weight: 600;
                align-items: center;

                &__input {
                    margin-right: 50px;
                }
                input {
                    background-color: #F7F7F7;
                    padding: 14px;
                    margin-left: 5px;
                    border: none;
                    outline: none;
                    box-shadow: inset 0 1px 1px rgba(0,0,0,.125);

                    &.name {
                        width: 300px;
                    }

                    &.columns {
                        width: 150px;
                    }
                }

                &__button {
                    margin-left: 30px;
                    a {
                        background-color: #4caf50;
                        padding: 10px 20px;
                        border-radius: 30px;
                        color: #fff;
                    }
                }

            }
            
        }
        /* End of Create Table Section */

    }
    /* End of Content Section */
}
/* LHS */